.table-responsive {
    width: 100%;
    height: 600px;
    cursor: pointer;

}

/* .downArrow {
    cursor: pointer;
} */

tbody {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 60vh;
}

thead th span{
    cursor: pointer;
}

thead, 
tbody tr {
    table-layout: fixed;
    display: table;
    width: 100%;
}
